@keyframes youtube-loading {
    0% {
      width: 0%;
      margin-left: 0;
    }
    50% {
      width: 50%;
      margin-left: 25%;
    }
    100% {
      width: 0%;
      margin-left: 100%;
    }
  }

  .animate-youtube-loading {
    animation: youtube-loading 2s ease-in-out infinite;
  }

  
  .animate-bg-move {
      background-size: 500% 100%;
      /*animation: bgMove 20s ease infinite;*/
  }
  /*@keyframes bgMove {
    0% { background-position: 0% 50%; }
    25% { background-position: 50% 50%; }
    50% { background-position: 100% 50%; }
    75% { background-position: 50% 50%; }
    100% { background-position: 0% 50%; }
}*/
