@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    .glass-card {
      background: rgb(0 43 86); 
      backdrop-filter: blur(14px);
      border-radius: 1rem;
    }
  }